# Rename this file to .env and fill in your values
TENANT_ID=836e0d42-59d1-4c5b-b130-d29bf9f8f5fd
CLIENT_ID=cf574957-4291-440d-bffb-08cb8f89b83a
CLIENT_SECRET=YOUR_NEW_SECRET_VALUE
USER_EMAIL=jasonnorman66994@outlook.com
